/*:root {
  --page-bg-color: #f9f9fd;
  --primary-text-color: #212121;
  --card-set-gap: 20px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
  background-color: var(--page-bg-color);
  color: var(--primary-text-color);
  line-height: 1.5;
}*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --tertiary-bg-color: #2f303a;
}
/*  страница index */
body {
  /* width: 1600px; */
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid tomato;
}
.section {
  padding: 94px 0;
}
/*  -----------------------------------header--------------------------------*/
.header {
  height: 80px;
  display: flex;
  border: 1px;
  outline: 1px solid #ececec;
  border-color: #ececec;
}
.header-container {
  /* width: 80px; */
  display: flex;
}
.header-navigation-andlogo {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
}

.header-connect {
  display: flex;
  /* margin-right: auto; */
  align-items: center;
}

.header-logo {
  font-family: Raleway;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* margin-left: 215px; */
  /* margin-top: 24px; */
  /* margin-bottom: 25px; */
}
.header-logo > span {
  color: var(--accent-color);
}
.header-navigatin {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  /*margin-left: 453px;*/
  /*margin-top: 24px;*/
}

.header-logo:hover,
.header-logo:focus {
  color: var(--accent-color);
}
.head-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.head-nav:hover,
.head-nav:focus {
  color: var(--accent-color);
}
.studio {
  margin-left: 93px;
}
.portfolio {
  margin-left: 50px;
}
.contacts {
  margin-left: 50px;
}
.cont {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.cont:hover,
.cont:focus {
  color: var(--accent-color);
}
.header-tel {
  margin-left: 50px;
}
.header-mail {
  margin-left: 331px;
}
/*--------------------------------------------hero---------------------------------------*/
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  display: block;
  padding-top: 200px;
}
.hero-sect {
  background-color: var(--tertiary-bg-color);
  height: 600px;
}
.hero-serv {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  display: block;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 30px;
}
.hero-serv:hover,
.hero-serv:focus {
  color: var(--primary-text-color);
}
/*----------------------------------features----------------------------*/
.features {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
}
.features-list {
  display: flex;
  justify-content: center;
}
.features-text {
  display: block;
  margin-top: 10px;
}
.features-direct {
  display: block;
  height: 101px;
  width: 270px;
}
.features-punctuality {
  margin-left: 30px;
}
.features-planning {
  margin-left: 30px;
}
.fetures-newtech {
  margin-left: 30px;
}
.features h3 {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features p {
  font-size: 14px;
  line-height: 1.7;
}
.features h3:hover {
  color: var(--accent-color);
}
.features h3:focus {
  color: var(--accent-color);
}
.features p:hover {
  color: var(--accent-color);
}
.features p:focus {
  color: var(--accent-color);
}
/* ----------------------------works---------------------------- */
.worcs-head {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.worcs-head:hover,
.worcs-head:focus {
  color: var(--accent-color);
}
.works-images {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  /* margin-bottom: 94px; */
}
.image-mob {
  margin: 0 30px;
}
.works img:hover,
.works img:focus {
  color: var(--accent-color);
}

/* ---------------------------team----------------------------------- */
.team-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  margin-left: -30px;
}
.card {
  flex-basis: calc((100% / 4) - 30px);
  margin-left: 30px;
}
.team-img {
  display: block;
}
.team-title {
  display: block;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  /* padding-top: 94px; */
}
.team {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team span {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/*------------------------------------footer------------------------------------------------*/
.footer-logo {
  font-family: Raleway;
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.footer-logo > span {
  color: var(--accent-color);
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}
/* .container.footer-cont { */
/* padding-bottom: 60px; */

.footer {
  padding: 60px 215px;
  background-color: var(--tertiary-bg-color);
}
.footer-address-street {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
}
.footer-adr-dir {
  display: block;
}
.footer-address-street {
  margin-top: 20px;
}
.cont-mail {
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.71;
  /* line-height: 146%; */
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}
.cont-tel {
  font-size: 14px;
  line-height: 1.71;
  vertical-align: Top;
  letter-spacing: 3%;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}
/* ------------------------------------------портфолио-----------------------------------*/
.sort {
  display: flex;
  justify-content: center;
}
.sort-item:not(:last-child) {
  margin-right: 8px;
}
.cont-sheet {
  padding: 94px 0;
}
.sort button {
  cursor: pointer;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background-color: var(--secondary-bg-color);
  border: 0;
  padding: 6px 22px;
}
.sort button:hover {
  color: var(--accent-color);
}
.sort button:focus {
  color: var(--accent-color);
}
.projects {
  margin-bottom: 30px;
  border: 1px;
  border-color: #eeeeee;
}

.project-list-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.project-list-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
  text-decoration: none;
}
.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 56px;
}
